.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: black;
  color: white;
}

.featureImage {
  height: 200px;
  width: auto;
  max-width: 100%;
  border-radius: 8px;
}