/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * locally scoped CSS by default instead of globally scoped.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make entire homepage black with white text */
html[data-theme='light'] {
  --ifm-background-color: black;
  --ifm-color-content: white;
  --ifm-color-content-inverse: white;
}

html[data-theme='dark'] {
  --ifm-background-color: black;
  --ifm-color-content: white;
  --ifm-color-content-inverse: white;
}

body {
  background-color: black !important;
  color: white !important;
}